
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.header_top_left {
    max-width: 712px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top_left_item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_top_left_item p {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    transition: .4s all;
}

.header_top_left_item svg path {
    fill: #fff;
    transition: .4s all;
}

.dark_header_top_left_item p {
    color: #1D2434;
}

.dark_header_top_left_item svg path {
    fill: #fff;
}

.dark_header_top_left_item svg path {
    fill: rgba(29, 36, 52, 0.4);
}

.header_top_left_item:hover svg path {
    fill: #FF6664;
}

.header_top_left_item:hover p {
    color: #FF6664;
}

.btns {
    display: flex;
    align-items: center;
    gap: 13px;
}

.btn {
    height: 32px !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 16.39px !important;
    text-transform: uppercase !important;
}

.dark_btn {
    color: #1D2434 !important;
    border-color: #1D2434 !important;
}

@media screen and (max-width: 768px) {
    .header_top_left_item p {
        display: none;
    }

    .header_top_left_item {
        max-width: fit-content;
    }

    .header_top {
        gap: 17px;
    }

    .header_top_left {
        justify-content: flex-start;
        gap: 17px;
    }
}
