.content {
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    padding-top: 100px;
}

.item {
    max-width: 445px;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    display: flex;
    gap: 34px;
}

.img {
    position: absolute;
    bottom: 0;
    left: 68px;
    max-width: calc(58vw);
    width: 100%;
}

.img .bg {
    width: 100%;
}

.title {
    font-size: 45px !important;
    color: rgba(255, 255, 255, 1) !important;
}

.title_colore {
    color: rgba(255, 102, 100, 1) !important;
    display: inline;
}

.sub_title {
    color: rgba(255, 255, 255, 1) !important;
    max-width: 400px !important;
}

.description {
    color: rgba(141, 159, 255, 1) !important;
}

.description_v2 {
    color: rgba(255, 255, 255, 1) !important;
}

.description_v3 {
    color: rgba(255, 102, 100, 1) !important;
    display: inline;
}

.btns {
    display: flex;
    align-items: center;
    gap: 22px;
}

.btn {
    height: 60px !important;
}

.main {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .item_bg {
        display: none;
    }

    .item {
        max-width: 100%;
        align-items: center;
        width: 100%;
    }

    .content {
        justify-content: center;
        align-items: flex-start;
        min-height: fit-content;
    }

    .img {
        position: relative;
        /*bottom: 0;*/
        left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        margin-top: 40px;
    }

    .img .bg {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 32px !important;
        font-weight: 300 !important;
        line-height: 43.71px !important;
        text-align: center !important;
    }

    .sub_title {
        max-width: 400px !important;
        font-size: 20px !important;
        font-weight: 300 !important;
        line-height: 27.32px !important;
        text-align: center !important;
    }

    .description {
        font-size: 20px !important;
        font-weight: 300 !important;
        line-height: 27.32px !important;
        text-align: center !important;
        max-width: 100%;
        width: 100%;
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 22px;
        width: 100%;
    }
}
