.main {
    /*min-height: calc(100vh - 116px);*/
    min-height: 100vh;
    background-image: url("/src/assetss/landing/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.main_2 {
    background-image: url("/src/assetss/landing/bg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_3 {
    background-image: url("/src/assetss/landing/bg_3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_4 {
    background-image: url("/src/assetss/landing/bg_4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_5 {
    background-image: url("/src/assetss/landing/bg_5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_6 {
    background-image: url("/src/assetss/landing/bg_6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_7 {
    background-image: url("/src/assetss/landing/bg_7.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
.main{
    min-height: fit-content;
}
}
