.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 24px;
    gap: 33px;
}

.item_left, .item_left_top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item_left {
    justify-content: space-between;
}

.title {
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 43.71px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.description {
    font-family: Manrope, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
    color: rgba(119, 124, 139, 1);
}

.btn {
    max-width: 160px;
    width: 100%;
}

.avatar {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 12px;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
