.content {
    margin-top: 30px;
    /*border: 1px solid red;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
}

.main {
    /*border: 1px solid red;*/
    height: calc(100dvh - 38px - 38px - 65px - 48px - 48px);
    display: flex;
    flex-direction: column;
}

.action_panel {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    max-width: 160px;
    width: 100%;
}

.chat_box {
    height: calc(100%);
    overflow: auto;
    display: grid;
    align-items: flex-end;
    gap: 24px;
    width: 100%;
    padding: 20px;
}

.chat_message {
    padding: 24px 14px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    height: fit-content;
    width: fit-content;
    float: right;
}
