.contain {
    background: inherit;
    position: fixed;
    z-index: 10;
    width: calc(100vw - 18px);
    top: 0;
    padding: 16px 20px 16px 20px;
    margin: 0 auto;
    transition: .4s all;
}

.contain_v2 {
    background: #1936AA;
}


.line {
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0 13px 0;
}

.dark_line {
    background: rgba(29, 36, 52, 0.2);
}

.isAuth_header {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    position: sticky;
    width: calc(100%);
}

@media screen and (max-width: 768px) {
    .contain {
        width: 100%;
    }
}
