.main {
    display: flex;
}

.content_header {
    position: relative;
    width: 100%;
}

.content {
    padding: 38px 70px;
    /*max-width: 1120px;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
}
