.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*justify-content: flex-end;*/
}

.icon_title, .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.title {
    /*color: #fff !important;*/
}
